{% extends "stockscreener/layout.html" %} {% load static %}{% block body %}

<form action="" method="post">
  {% csrf_token %} {{ stockForm }}
  <button type="submit">Get Results</button>
</form>

<br />

<br />
{% if stock %}
<div class="row">
  <div class="col">{{ graph1 | safe }}</div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" id="stock_name">{{ stock }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Last closing price:
          <span class="closing_price">${{ closing_price }}</span>
        </h6>
        <h6 class="card-subtitle mb-2 text-muted">
          <span class="price_change">{{ change }}</span>
        </h6>
        {% if user.is_authenticated %} {% if watchlisted %}
        <div class="card-link">
          <a
            href="#"
            class="watchlist"
            id="Remove{{ stock }}"
            data-searchID="{{ stock }}"
            >Remove {{ stock }} from watchlist</a
          >
        </div>

        <br />

        {% if notes %}
        <h6>Notes</h6>
        <p>{{ notes }}</p>
        <a href="/" class="notes_link">Edit notes</a>
        {% else %}
        <a href="/" class="notes_link">Add notes</a>
        {% endif %} {% else %}
        <a
          href="#"
          class="watchlist"
          id="Add{{ stock }}"
          data-stockName="{{ stock }}"
        >
          Add {{ stock }} to watchlist</a
        >
        {% endif %} {% else %}
        <p>
          Please
          <a href="{% url 'login' %}">log In</a>
          or <a href="{% url 'register' %}">register</a> to add this stock to
          your watchlist
        </p>
        {% endif %}
        <p id="message"></p>
      </div>
    </div>
  </div>
</div>
<br />
{{ graph2 | safe }} {% endif %}{% endblock %}
