{% extends "stockscreener/layout.html" %} {% load static %}{% block body %}
<div class="search-form mt-4 mb-1">
  <form action="" method="post" >
  {% csrf_token %} 
    <div>{{ stockForm.stock }}</div> 
    <button type="submit">Get Results</button>
  
  </form>
</div>


{% if stock %}

<div class="index-card card mb-4">
<div class="card-body">

  {% include "stockscreener/stock_details.html" with stock=stock change=change closing_price=closing_price %}
{% if user.is_authenticated %} 
{% if watchlisted %}

<div class="card-link">
  <a href="#" class="watchlist" data-stock_name="{{ stock }}" data-stock_id="{{ stockID }}">
    Remove {{ stock }} from watchlist
  </a>
</div>

{% else %}

<a href="#"  class="watchlist" data-stock_name="{{ stock }}" data-stock_id="{{ stockID }}">
    Add {{ stock }} to watchlist</a>

{% endif %}
</div>
</div>
{% include "stockscreener/graphs.html" with graph1=graph1 graph2=graph2 %}


        {% else %}
        <p>
          Please
          <a href="{% url 'login' %}">log In</a>
          or <a href="{% url 'register' %}">register</a> to add this stock to
          your watchlist
        </p>
        {% endif %}
        <p class="message" id="message_index"></p>
      </div>
    </div>
  </div>
</div>
<br />
 {% endif %}{% endblock %}
