{% extends "stockscreener/layout.html" %} {% load static %}{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="top" href="{% url 'index' %}">StockScreener</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'about' %}"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ticker_list' %}">Ticker List</a>
        </li>
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'watchlist' %}"
            >Watchlist</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h2 class="mb-3">{{ user }}'s watchlist</h2>
  <!-- prettier-ignore -->
  {% if user.is_authenticated %}

{% if watched_stocks %}

  <h3 class="mb-3">Your watched stocks:</h3>
  <div class="mb-3">
    {% for item in watched_stocks %}
    <a
      href="#watchedItem{{ item.stockID }}"
      class="stock_link"
      id="stock_link{{ item.stockID }}"
    >
      {{ item.stock }}
    </a>
    {% endfor %}
  </div>

  {% for item in watched_stocks %}

  <div class="watched_item" id="watchedItem{{ item.stockID }}">
    <div class="row">
      <div class="col">
        <div class="card mb-4">
          <div class="card-body">
            <!-- prettier-ignore -->
            {% include "stockscreener/stock_details.html" with stock=item.stock change=item.change closing_price=item.closing_price %}
          </div>
        </div>

        <h3>Your notes for {{ item.stock }}:</h3>
        <form
          class="edit_notes"
          id="editNotes{{ item.stockID }}"
          data-stock_id="{{ item.stockID }}"
        >
          <div class="form-group">
            <textarea
              class="edit_content form-control"
              id="editContent{{ item.stockID }}"
              rows="12"
            >
            {{ item.notes }}
          </textarea
            >
            <button
              class="save_notes_button"
              type="submit"
              data-stock_id="{{ item.stockID }}"
            >
              Save notes
            </button>
          </div>
        </form>

        <button
          class="remove_from_watchlist"
          data-stock_id="{{ item.stockID }}"
        >
          Remove {{ item.stock }} from watchlist
        </button>

        <p class="message mt-2 mb-3" id="messageNotes{{ item.stockID }}"></p>
      </div>
      <div class="col">
        <!-- prettier-ignore -->
        {% include "stockscreener/graphs.html" with graph1=item.graph1 graph2=item.graph2 %}
      </div>

      <hr />
    </div>
  </div>
  {% endfor %} {% else %}
  <p>You do not have any stocks in your watchlist</p>
  {% endif %} {% endif %} {% endblock %}
</div>
