:root {
  --background-color: #fff2e5;
  --custom-shadow: rgba(164, 164, 167, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

body {
  background: var(--background-color);
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.navbar {
  background-color: #325c84;
}
button {
  transition: ease-in-out 200ms;
  border-radius: 4px;
  box-shadow: var(--custom-shadow);
  background-color: #325c84;
  margin: 10px 0 5px 0;
  padding: 3px 11px;
  color: white;
}

button:hover {
  background-color: #99103d;
  color: white;
}

h1 {
  font-size: 30px;
  padding: 20px 0px 5px 0px;
}

h2 {
  font-size: 27px;
  padding: 20px 0 5px 0;
  text-transform: capitalize;
  font-weight: 550;
}

h3 {
  font-size: 20px;
  padding: 5px 0 5px 0;
}
.welcome {
  text-align: center;
}
.watchlist {
  border-radius: 4px;
  box-shadow: var(--custom-shadow);
  margin: 10px 0 10px 0;
  color: #325c84;
  text-decoration: none;
  padding: 4px 8px;
  background-color: white;
}

.search-form {
  display: block;
  margin: auto;
  text-align: center;
}
.index-card {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.closing_price {
  color: #325c84;
  font-weight: 700;
}
.message,
#search_error_message {
  color: #cc0000;
}
#search_error_message {
  text-align: center;
}
.price_change_green {
  color: green;
}

.price_change_red {
  color: #cc0000;
}
.watched_item {
  margin-bottom: 20px;
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.edit_content {
  text-align: left;
  margin: 0;
}

.stock_link,
#clock {
  border-radius: 4px;
  box-shadow: var(--custom-shadow);
  margin: 0px 20px 0px 0px;
  text-decoration: none;
  padding: 6px 10px;
  color: #325c84;
  background-color: white;
  z-index: 99;
}
.abc_tickers {
  display: none;
}
#clock {
  display: none;
}

#searchButton {
  margin: 14px 0;
}

#topButton {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 5px;
  right: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #325c84;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  box-shadow: var(--custom-shadow);
  border-radius: 4px;
}

@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
    margin-bottom: 20px;
  }
  50% {
    opacity: 0;
    height: 50%;
    line-height: 100%;
    margin-bottom: 20px;
  }

  100% {
    opacity: 0;
    height: 0;
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }
}
