:root {
  background-color: #fff2e5;
}

body {
  background: var(--background-color);
}

button {
  transition: ease-in-out 200ms;
  border-radius: 4px;
  box-shadow: rgba(164, 164, 167, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #325c84;
  margin: 10px 0 5px 0;
  padding: 2px 11px;
  color: white;
}

button:hover {
  background-color: #99103d;
  color: white;
}
.watchlist {
  border-radius: 4px;
  box-shadow: rgba(164, 164, 167, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 10px 0 10px 0;
  color: #325c84;
  text-decoration: none;
  padding: 4px 8px;
  background-color: white;
}

.search-form {
  display: block;
  margin: auto;
  text-align: center;
}
.index-card {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 500px;
}

.closing_price {
  color: #cc0000;
}
.price_change {
  color: orange;
}

.watched_item {
  margin-bottom: 20px;
}
.edit_content {
  text-align: left;
  margin: 0;
}
