:root {
  background-color: antiquewhite;
}

body {
  background: var(--background-color);
}

button {
  transition: ease-in-out 200ms;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: red;
  margin: 10px 0 20px 0;
  padding: 2px 11px;
}

button:hover {
  background-color: #255484;
  color: white;
}
